@using ModelsTestTask.Models
@model List<Product>

<ul>

    @foreach (Product item in Model)
    {
       <li>id = @item.id,name = @item.name,color = @item.color,size = @item.size</li>
    }

</ul>


